<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${contact.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户id：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${contact.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话_1：</label>
								<div class="col-sm-8">
									<input id="mobile1" name="mobile1" th:value="${contact.mobile1}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" th:value="${contact.remark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createDate" name="createDate" th:value="${contact.createDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="createUser" name="createUser" th:value="${contact.createUser}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="updateDate" name="updateDate" th:value="${contact.updateDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">更新人：</label>
								<div class="col-sm-8">
									<input id="updateUser" name="updateUser" th:value="${contact.updateUser}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="contactUserName" name="contactUserName" th:value="${contact.contactUserName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话_2：</label>
								<div class="col-sm-8">
									<input id="mobile2" name="mobile2" th:value="${contact.mobile2}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话_3：</label>
								<div class="col-sm-8">
									<input id="mobile3" name="mobile3" th:value="${contact.mobile3}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话_4：</label>
								<div class="col-sm-8">
									<input id="mobile4" name="mobile4" th:value="${contact.mobile4}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话_5：</label>
								<div class="col-sm-8">
									<input id="mobile5" name="mobile5" th:value="${contact.mobile5}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">邮箱：</label>
								<div class="col-sm-8">
									<input id="email" name="email" th:value="${contact.email}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/app/contact/edit.js">
	</script>
</body>
</html>
